# Supabase Configuration
SUPABASE_URL="https://fvxfgvwyppnlhjbtzjuk.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2eGZndnd5cHBubGhqYnR6anVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMDg0MjgsImV4cCI6MjA3Njg4NDQyOH0.__fiijkmZhWeeKH3G70AAWhZif32nDAwfipPs_idpe4"

# Flask Configuration
FLASK_DEBUG=True
PORT=5000
